{% extends 'base.html.twig' %}

{% block title %}Facture
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% form_theme form _self %}

{% block form_widget_simple %}
    {% set type = type|default('text') %}
    {% if type == 'range' or type == 'color' %}
        {% set required = false %}
    {% endif %}
     <div class="resizing-input wrap-input">
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <i class="focus-input"></i>
        <span style="display:none"></span>
    </div>
{% endblock form_widget_simple %}

{% block _facture_descriptions_widget %}
    <div class="list-wrapper">
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_widget(prototype) }) %}
        {% endif %}
        {{ block('form_widget') }}
    </div>
    <button class="hidden reponse-add btn-round">
            <i class="fa fa-plus"></i>
    </button>
{% endblock %}

{% block no_resize_widget %}
    {% set type = type|default('text') %}
    {% if type == 'range' or type == 'color' %}
        {% set required = false %}
    {% endif %}
     <div class="wrap-input">
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <i class="focus-input"></i>
    </div>
{% endblock %}

{% block _facture_descriptions_entry_content_widget %}
    {{ block('no_resize_widget') }}
{% endblock _facture_descriptions_entry_content_widget %}

{% block _facture_descriptions_entry_unit_widget %}
    {% set type = type|default('number') %}
    {{ block('no_resize_widget') }}
{% endblock _facture_descriptions_entry_unit_widget %}

{% block _facture_descriptions_entry_price_widget %}
    {% set type = type|default('number') %}
    {{ block('no_resize_widget') }}
{% endblock _facture_descriptions_entry_price_widget %}

{% block body %}

    <div class="container-fluid">
        <div class="inv__container">
            {{ form_start(form, {'attr': {'class': 'form validate-form container-form', 'autocomplete' : 'off'} }) }}
            {{ form_errors(form) }}

            <div class="inv__section inv__section--one">
                <div class="inv__header">
                    <h1 class="inv__title">Facture</h1>
                    <div class="inv__flex">
                        <h6>faites par</h6>
                        {{ form_widget(form.myCompany, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                    </div>
                </div>
                <div class="inv__date">
                    {{ form_widget(form.invoiceDate, {'attr': {'class': 'input datepicker-here', 'autocomplete' : 'off'} }) }}
                </div>
            </div>

            <div class="inv__section inv__section--two">
                <div class="inv__header">
                    <h6>Facturé à</h6>
                    {{ form_widget(form.clientCompany, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                </div>
                <div class="inv__header">
                    <h1 class="js-total">0.00€</h1>
                    <div class="inv__flex inv__dueDate">
                        <h6>À payer le </h6>
                        <div>
                        {{ form_widget(form.dueDate, {'attr': {'class': 'input datepicker-here', 'autocomplete' : 'off'} }) }}
                        </div>
                    </div>
                    <h6>Moyen de paiement</h6>
                    {{ form_widget(form.paymentMethods, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                </div>
            </div>

            <div class="inv__section inv__section--three">
                <div class="inv__header inv__description">
                    <h6>Facture de </h6>
                    <div class="wrap-input">
                        {{ form_widget(form.projectDescription, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                        <i class="focus-input"></i>
                    </div>
                </div>
            </div>

            <div class="inv__section inv__section--four">
                <div class="inv__table">
                    <div class="table__header">
                        <div class="col c1">Désignation</div>
                        <div class="col c2">Quantité</div>
                        <div class="col c3">Prix (EUR)</div>
                        <div class="col c4">Montant</div>
                    </div>
                    <div class="table__body">
                        {{ form_widget(form.descriptions, {'attr': {'class': 'collection', 'autocomplete' : 'off'} }) }}
                        <div class="line">
                            <div class="col c1"></div>
                            <div class="col c2"></div>
                            <div class="col c5">Sous-total</div>
                            <div class="col c6 js-sub-total">0.00€</div>
                        </div>
                        <div class="line">
                            <div class="col c1"></div>
                            <div class="col c2"></div>
                            <div class="col c5 vat">TVA ( {{ form_widget(form.VAT, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                                %)
                            </div>
                            <div class="col c6 js-vat">0.00€</div>
                        </div>
                        <div class="line">
                            <div class="col c1"></div>
                            <div class="col c2"></div>
                            <div class="col c5 total dark-pink">TOTAL</div>
                            <div class="col c6 total js-total">0.00€</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inv__section inv__section--five">
                <div class="inv__flex">
                    <div class="wrap-input inv__header inv__flex-2">
                        <h6>Facturé par</h6>
                        <div class="wrap-input">
                            <input type="text" id="facture_myCompany" name="facture[myCompany]" required="required" class="input" autocomplete="off">
                            <i class="focus-input"></i>
                        </div>
                    </div>
                    <div class="wrap-input inv__header inv__flex-1">
                        <h6>Date de facturation</h6>
                        <div class="wrap-input">
                            <input type="text" id="facture_invoiceDate" name="facture[invoiceDate]" required="required" data-language="fr" class="input datepicker-here" autocomplete="off">
                            <i class="focus-input"></i>
                        </div>
                    </div>
                    <div class="wrap-input inv__header inv__flex-1">
                        <h6>Date d'échéance</h6>
                        <div class="wrap-input">
                            <input type="text" id="facture_dueDate" name="facture[dueDate]" required="required" data-language="fr" class="input datepicker-here" autocomplete="off">
                            <i class="focus-input"></i>
                        </div>
                    </div>
                    <div class="wrap-input inv__header inv__flex-2">
                        <h6>Facturé à</h6>
                        <div class="wrap-input">
                            <input type="text" id="facture_clientCompany" name="facture[clientCompany]" required="required" class="input" autocomplete="off">
                            <i class="focus-input"></i>
                        </div>
                    </div>
                </div>

                <div class="inv__flex">
                    <div class="inv__header">
                        <h6>Numéro de facture</h6>
                        {{ form_widget(form.invoiceNumber, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                    </div>
                    <div class="inv__header">
                        <h6>Numéro de référence</h6>
                        {{ form_widget(form.referenceNo, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                    </div>
                </div>

                <div class="inv__flex">
                    <div class="inv__header inv__terms">
                        <h6>Conditions de facturation</h6>
                        <div class="wrap-input">
                            {{ form_widget(form.invoiceTerms, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                            <i class="focus-input"></i>
                        </div>
                    </div>
                </div>
            </div>

            {{ form_widget(form.save, {'attr': {'class': 'form-btn hidden'} }) }}

            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest' : false}) }}
        </div>

        <div class="btn-bar">
            <button class="btn-round btn-default" onclick="location.href='{{path('index')}}'"><i class="fas fa-arrow-left"></i></button>
            <button class="btn-round btn-export"><i class="fas fa-file-export"></i></button>
            <button class="btn-round btn-save"><i class="fas fa-save"></i></button>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/datepicker.js') }}"></script>
    <script src="{{ asset('js/datepicker.fr.js') }}"></script>
    <script>
        $('.btn-export').on('click', function() {
            $('#facture_save').trigger('click');
        })
    </script>

    <script>
        $(window).on('load', function() {
            var $inputs = $('.resizing-input');
            var padding = 30;

            // Resize based on text if text.length > 0
            // Otherwise resize based on the placeholder
            function resizeForText(text) {
                var $this = $(this);
                if (!text.trim()) {
                    text = $this.attr('placeholder').trim();
                }
                var $span = $this.parent().find('span');
                $span.text(text);
                var $inputSize = $span.outerWidth();
                $this.css("width", $inputSize).css("width", "+=" + padding + "px");
            }

            $inputs.find('input').keypress(function (e) {
                if (e.which && e.charCode) {
                    var c = String.fromCharCode(e.keyCode | e.charCode);
                    var $this = $(this);
                    resizeForText.call($this, $this.val() + c);
                }
            });

            // Backspace event only fires for keyup
            $inputs.find('input').keyup(function (e) {
                if (e.keyCode === 8 || e.keyCode === 46) {
                    resizeForText.call($(this), $(this).val());
                }
            });

            $inputs.find('input').each(function () {
                var $this = $(this);
                resizeForText.call($this, $this.val())
            });
        });
    </script>

    <script>
        /* Description
	    ================= */
        var $addTagLink = $('.reponse-add');
        var $collectionHolder = $('#facture_descriptions');
        $collectionHolder.data('index', $collectionHolder.find(':input').length);
        $('.sondage-add').on('click', function () {
            $(this).addClass("hidden");
            $('#article_sondage').removeClass("hidden");
            $('.sondage-header').removeClass("hidden");
        });
        $('.sondage-remove').on('click', function () {
            $('.sondage-header').addClass("hidden");
            $('#article_sondage').addClass("hidden");
            $('.sondage-add').removeClass("hidden");
            $collectionHolder.find('li').each(function () {
                $(this).remove();
            });
        });
        $addTagLink.on('click', function (e) {
            e.preventDefault();
            addTagForm($collectionHolder);
        });
        function addTagForm($collectionHolder) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);
            newForm = $(newForm).append('<div class="col c4 amount">0.00€</div>');
            var newFormLi = $('<li class="inv__card"></li>').append(newForm);
            newFormLi.append('<a class="hidden remove-tag"><span class="fa fa-times"></span></a>');
            $collectionHolder.append(newFormLi);
        }
        $("form").on("click", ".remove-tag", function (e) {
            e.preventDefault();
            $(this).parent().remove();
            return false;
        });

    </script>

    <script>
        if ($('.inv__card').length == 0)
            addTagForm($collectionHolder);
        $('.list-wrapper').on('keyup', '.inv__card input', function() {
            setAmount();
            addRemove(this);
            if ($(this).parents('.inv__card').index() + 1 == $('.inv__card').length)
                addTagForm($collectionHolder);
        });
        $('#facture_VAT').on('keyup', function() {
            setAmount();
        });

        function addRemove(e) {
            let card = $(e).parents('.inv__card');
            card.find('.remove-tag').addClass('hidden');
            card.find('input').each(function(index) {
                if ($(this).val() != '') {
                    card.find('.remove-tag').removeClass('hidden');
                    return false;
                }
            });
        }

        function amount(x) {
            return Number.parseFloat(x).toFixed(2);
        }

        function setAmount() {
            let sub_total = 0;
            $('.inv__card').each(function(index) {
                let unit = $(this).find('.unit').val();
                let price = $(this).find('.price').val();
                sub_total += (price * unit);
                $(this).find('.amount').text(amount(price * unit) + '€');
            });
            $('.js-sub-total').text(amount(sub_total) + '€');
            let vat = sub_total * ($('#facture_VAT').val() / 100);
            $('.js-vat').text(amount(vat) + '€');
            $('.js-total').text(amount(sub_total + vat) + '€');
        }
    </script>

{% endblock %}