{% extends 'base.html.twig' %}

{% block title %}Nouvelle facture
{% endblock %}

{% form_theme form _self %}

{% block form_row %}
    {% set widget_attr = {} %}
    {% if help is not empty %}
        {% set widget_attr = {attr: {'aria-describedby': id ~"_help"}} %}
    {% endif %}
    <div class="wrap-input" {% with {attr: row_attr|default({} )} %} {{ block('attributes') }} {% endwith %}>
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form, widget_attr) }}
        {{ form_help(form) }}
        <span class="focus-input"></span>
    </div>
{% endblock form_row %}

{% block body %}

    <div class="container-fluid">
        <div class="inv__container">
            {{ form_start(form, {'attr': {'class': 'form validate-form container-form', 'autocomplete' : 'off'} }) }}
            {{ form_errors(form) }}

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.myCompany, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.clientCompany, {'attr': {'class': 'input', 'autocomplete' : 'off'} }) }}
                </div>
            </div>

            {# <div class="container-form-btn">
                {{ form_widget(form.validation, {'attr': {'class': 'form-btn'} }) }}
            </div> #}

            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest' : false}) }}
        </div>
    </div>

{% endblock %}
